body {
    background-color: #f0c9e9;
    font-family: "monaco", monospace;
    margin: 10px;
    color: #d62f6a;
  }

  h1 {
    color: #b204d1;
    padding: 5px;
    font-family: "monaco", monospace;
    text-align: center;
    border-style: outset;
  }

  h2 {
    text-align: center;
  }

  p {
    color:#b204d1;
    text-align: center;
  }
